# SteamCmd default
SteamCmd/*

# ServerData for EnshroudedServer (no Savegame)
ServerData/*
!ServerData/Enshrouded_server.json

# Secrets
Scripts/private/server_secrets/server_secrets.py

# Files
*.pyc
